body 
{
    text-align: center;
    font-family: arial;
}

#containner 
{
    width: 50%;
    padding: 1em;
    text-align: left;
    border: 1px solid #121212;
    margin: 0 auto;
}
#containner h1 {
    font-size: 20px;
    text-align: center;
}
h1 
{
    color: palevioletred;
}

p {
    color: peru;
}

.TextMain {
    color: rebeccapurple;
    font-size: 16 px;
    font-weight: 500;
    background-color: seashell;
}

