body {
    text-align: center;
    font-family: arial;
}

h1 {
    color: palevioletred;
}

p {
    color: peru;
}

.TextMain {
    color: rebeccapurple;
    font-size: 16 px;
    font-weight: 500;
    background-color: seashell;
}

div {
    display: block;
    width: 60vw;
    position: absolute;
}